@charset "UTF-8";

/* ---- その他のスタイル調整用CSS ---- */
/* ---- 文字の色 ---- */
body {
	color: #12526D;
}

/* ---- ページタイトル ---- */
h3 {
	padding-left: 20px;
}

/* ---- 社員登録入力画面へのリンク ---- */
div.regist_link {
	padding-right: 35px;
	padding-bottom: 10px;
	text-align: right;
}

/* ---- 社員情報一覧テーブル ---- */
table {
	background-color: #FFFFFF;
	border-color: #87CEEB;
	border-width: 1px;
	border-style: solid;
	border-collapse: collapse;
	margin: 0px auto 20px;
}

table td,
table th {
	border-width: 1px;
	border-style: solid;
	border-color: #87CEEB;
}

td.data {
	width: 60px;
}

th.empId {
	width: 60px;
}

th.empName {
	width: 80px;
}

th.gender {
	width: 50px;
}

th.address {
	width: 80px;
}

th.birthday {
	width: 100px;
}

th.authority {
	width: 60px;
}

th.deptName {
	width: 60px;
}

th.button {
	width: 60px;
}

td.button {
	text-align: center;
}

table td {
	padding-left: 5px;
}

/* ---- 入力フォーム(検索、登録、変更、削除) ---- */
div.form {
	display: flex;
	width: 720px;
	margin: 0px auto;
}

div.label {
	display: flex;
	flex-direction: column;
	align-items: stretch;
	width: 245px;
	height: 35px;
	padding-right: 5px;
	text-align: right;
}

div.input {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	width: 470px;
	height: 35px;
	text-align: left;
}

select {
	font-size: 10pt;
	color: #12526D;
}

/* ---- 入力フォーム(ログイン) ---- */
.login_form {
	display: flex;
}

div.login_label {
	width: 305px;
	height: 35px;
	padding-right: 5px;
	text-align: right;
}

div.login_input {
	width: 410px;
	height: 35px;
	text-align: left;
}

/* ---- 処理完了メッセージの出力箇所 ---- */
div.message {
	height: 150px;
	padding-top: 30px;
	text-align: center;
}

/* ---- ボタン全般 ---- */
/* ---- ボタン全般 ---- */
input[type="submit"],
input[type="button"] {
	/* ←ここを追加しました */
	border-width: 1px;
	border-style: solid;
	border-color: #808080;
	padding: 0px 10px;
	border-radius: 6px;
	color: #12526D;
	cursor: pointer;
	/* マウスを乗せた時に指マークにする */
}

/* ボタンにマウスを乗せた時の色変化（お好みで追加してください） */
input[type="submit"]:hover,
input[type="button"]:hover {
	background-color: #F0FAFF;
	border-color: #12526D;
}

/* ---- エラーメッセージ ---- */
.error {
	color: #FF0000;
}

.warning {
	color: #FF0000;
}

/* 1. 親要素(article)の700px制限を解除して横スクロールを許可する */
article {
	width: auto !important;
	/* 固定幅を解除 */
	max-width: 920px;
	/* レイアウトが壊れないよう最大幅を指定 */
}

/* 2. スクロールエリアの設定 */
.scrol {
	overflow-x: auto;
	/* 横スクロールを強制有効 */
	width: 100%;
	/* 700pxの範囲内でスクロールさせる */
	border: 1px solid #87CEEB;
	margin-bottom: 20px;
	background-color: #fff;
}

/* 3. テーブルのスタイルをリセット＆再定義 */
.list_table {
	width: auto !important;
	/* stylesheet.cssのwidth指定を上書き */
	min-width: 100%;
	border-collapse: separate;
	/* 名前固定のために必要 */
	border-spacing: 0;
	white-space: nowrap;
	/* ★文字の折り返しを禁止（これで横長になる） */
}

.list_table th,
.list_table td {
	border: 1px solid #87CEEB;
	padding: 8px 12px;
	text-align: center;
	background-color: #fff;
}

/* 4. 名前の列（左から3番目）を固定する */
/* 社員番号(1), 部署名(2), 名前(3) */
.list_table th:nth-child(3),
.list_table td:nth-child(3) {
	position: sticky;
	left: 0;
	z-index: 10;
	background-color: #E6F7FF !important;
	/* 固定列を少し色付け */
	border-right: 2px solid #87CEEB;
}

/* ヘッダーの色（名前固定用z-index含む） */
.list_table thead th {
	background-color: #ADD8E6;
	/* 既存のデザインに合わせた水色 */
	position: sticky;
	top: 0;
	z-index: 5;
}

.list_table thead th:nth-child(3) {
	z-index: 15;
	/* 名前のヘッダーを最前面に */
}

/* 5. 既存のstylesheet.cssの幅指定(th.empName等)を無効化する */
.list_table th[class] {
	width: auto !important;
}

/* ---- 社員登録・変更画面の入力フィールド調整 ---- */
/* 1. フォーム全体の横幅制限を広げる（720pxだとテキストボックスがはみ出すため） */
div.form {
	width: 850px !important;
	margin: 10px auto;
}

/* 2. 入力エリアの横幅を中身（テキストボックス）に合わせて自動調整にする */
div.input {
	width: auto !important;
	height: auto !important;
	/* 固定高さを解除してパディングを反映 */
	min-height: 35px;
}

/* 3. テキストボックス、パスワード、セレクトボックスの長さを一括設定 */
div.input input[type="text"],
div.input input[type="password"],
div.input select {
	width: 500px;
	/* ★ここを好きな長さに調整してください */
	padding: 6px 10px;
	/* 入力しやすくするために内側に余白を追加 */
	border: 1px solid #87CEEB;
	border-radius: 4px;
	box-sizing: border-box;
	/* paddingを含めた幅計算にする */
	color: #12526D;
}

/* 4. ラジオボタンは広げない（そのままにする） */
div.input input[type="radio"] {
	width: auto !important;
}

/* 5. 入力中に色を変えて、どこを入力しているか分かりやすくする */
div.input input:focus,
div.input select:focus {
	outline: none;
	border-color: #12526D;
	background-color: #F0FAFF;
}