<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{common/layout_4block :: layout(~{::body/content()})}">

<head>
	<title>社員一覧 | 社員管理システム</title>
	<meta charset="UTF-8" />
</head>

<body class="admin user_list">
	<h3>社員一覧画面</h3>

	<div class="regist_link">
		<a th:href="@{/regist/input}">新規社員登録</a>
	</div>

	<!--	該当社員が0名の場合-->
	<th:block th:if="${#lists.isEmpty(employees)}">
		<div class="message">
			<p class="back_to_top_message">該当する社員は存在しません。</p>
			<p class="back_to_top_link">
				<a th:href="@{/list}">一覧表示に戻る</a>
			</p>
		</div>
	</th:block>
	<!--	該当社員がいる場合-->
	<table class="list_table">
	    <thead>
	        <tr>
	            <th>社員番号</th>
	            <th>名前</th>
	            <th>入社日</th>
	            <th>勤続年数</th>
	            <th>性別</th>
	            <th>メール</th>
	            <th>誕生日</th>
	            <th>出身地</th>
	            <th>ニックネーム</th>
	            <th>仕事経験</th>
	            <th>仕事のはかどる時間</th>
	            <th>好きな言葉</th>
	            <th>尊敬する人</th>
	            <th>趣味</th>
	            <th>特技</th>
	            <th>休日の過ごし方</th>
	            <th>言われたらうれしいこと</th>
	            <th>やられたらウレシイこと</th>
	            <th>いわれたら悲しい言葉</th>
	            <th>やられると悲しいこと</th>
	            <th>将来の野望</th>
	            <th colspan="2">操作</th>
	        </tr>
	    </thead>

	    <tbody>
	        <th:block th:if="!${#lists.isEmpty(employees)}">
	            <tr th:each="employee: ${employees}">
	                <td th:text="${employee.empId}"></td>
	                <td th:text="${employee.empName}"></td>
	                <td></td> <td></td> <td th:switch="${employee.gender}">
	                    <span th:case="1">男性</span> <span th:case="2">女性</span>
	                </td>
	                <td></td> <td th:text="${#dates.format(employee.birthday, 'yyyy/MM/dd')}"></td>
	                <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td>
	                    <form method="get" th:action="@{/update/input}">
	                        <input type="hidden" name="empId" th:value="${employee.empId}" />
	                        <input type="submit" value="変更" />
	                    </form>
	                </td>
	                <td>
	                    <form method="get" th:action="@{/delete/check}">
	                        <input type="hidden" name="empId" th:value="${employee.empId}" />
	                        <input type="submit" value="削除" class="delete" />
	                    </form>
	                </td>
	            </tr>
	        </th:block>

	        <tr th:if="${#lists.isEmpty(employees)}">
	            <td colspan="23" style="text-align: center; padding: 20px;">
	                該当する社員は存在しません。
	            </td>
	        </tr>
	    </tbody>
	</table>
</body>

</html>